@page "/"
@using parcelfy_blazor.Components.Data
@using parcelfy_blazor.Components.Models
@rendermode InteractiveServer

<PageTitle>Parcelfy</PageTitle>

<h1 style="color: var(--rz-text-color)">Parcelfy</h1>

<p style="color: var(--rz-text-tertiary-color)">Coming soon.</p>

<div Class="rz-p-0 rz-p-md-12">
    <RadzenTemplateForm TItem="ParcelTrackerRequest" Data="@ParcelTrackerRequest" Submit="@HandleValidSubmit">
        <RadzenStack Gap="1rem" Class="rz-p-sm-12">
            <RadzenFormField Text="Parcel ID" style="color: var(--rz-text-color)" Variant="@variant">
                <ChildContent>
                    <RadzenTextBox Name="Parcel ID" @bind-Value="@ParcelTrackerRequest.ParcelId" />
                </ChildContent>
                <Helper>
                    <RadzenRequiredValidator Component="Parcel ID" Text="Parcel ID is required." />
                </Helper>
            </RadzenFormField>
            <RadzenButton ButtonType="ButtonType.Submit" Text="Submit"></RadzenButton>
        </RadzenStack>
    </RadzenTemplateForm>
</div>

@if (ParcelTrackerResponse.Any())
{
    <RadzenDataGrid PageSize="10" ExpandMode="@DataGridExpandMode.Multiple" Data="@ParcelTrackerResponse" TItem="ParcelTracker" Render="@OnParcelRender">
        <Template Context="order">
            <RadzenCard Style="margin-bottom:20px;color: var(--rz-text-color)">
                Parcel ID:
                <b>@order.Shipment.IdShip</b>
            </RadzenCard>
            <RadzenTabs>
                <Tabs>
                    <RadzenTabsItem Text="Events">
                        <RadzenDataGrid AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@order.Shipment.Event" TItem="ParcelTracker.Event" >
                            <Columns>
                                <RadzenDataGridColumn TItem="ParcelTracker.Event" Property="Code" Title="Code" />
                                <RadzenDataGridColumn TItem="ParcelTracker.Event" Property="Label" Title="Label" />
                                <RadzenDataGridColumn TItem="ParcelTracker.Event" Property="Date" Title="Date" />
                            </Columns>
                        </RadzenDataGrid>
                    </RadzenTabsItem>                  
                </Tabs>
            </RadzenTabs>
        </Template>
        <Columns>
            <RadzenDataGridColumn TItem="ParcelTracker" Property="Shipment.IdShip" Title="Parcel ID" />
            <RadzenDataGridColumn TItem="ParcelTracker" Property="Shipment.Product" Title="Product" />
            <RadzenDataGridColumn TItem="ParcelTracker" Property="Shipment.Url" Title="Tracking URL" />
        </Columns>
    </RadzenDataGrid>
}

